@{
    ViewData["Title"] = "Registration Successful";
}

<div class="container mt-4">
    <div class="alert alert-success">
        <h4>Registration Successful!</h4>
        <p>Please check your email to activate your account.</p>
    </div>
    <a class="btn btn-primary" asp-controller="Account" asp-action="Login">Go to Login</a>
</div>
