@model JamesThewProject.Models.SubscriptionPlan
@{
    ViewBag.Title = "Upgrade Success";
}
<h2>Upgrade Successful!</h2>
<p>Your membership has been upgraded successfully using the plan:</p>
<ul>
    <li>Plan: @Model.PlanName</li>
    <li>Price: @Model.Price.ToString("C")</li>
    <li>Duration: @Model.DurationInDays days</li>
</ul>
<a href="@Url.Action("Profile", "Account")" class="btn btn-primary">Go to Profile</a>
